@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Stand by Me Doraemon 2</h1>
<p>Nobita travels to the future to show his beloved grandma his bride, but adult Nobita has fled his own wedding.</p>


<video width="640" height="360" controls>
    <source src="https://videosharing11.oss-eu-central-1.aliyuncs.com/%E5%93%86%E5%95%A6a%E6%A2%A6%20%E4%BC%B4%E6%88%91%E5%90%8C%E8%A1%8C2.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
