@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Lolita (1997)</h1>
<p>Adrian Lyne's adaptation of Nabokov's controversial novel, the classic tale of a man's inappropriate obsession with a beautiful young girl.</p>

<video width="640" height="360" controls>
    <source src="https://videosharing11.oss-eu-central-1.aliyuncs.com/%E4%B8%80%E6%A0%91%E6%A2%A8%E8%8A%B1%E5%8E%8B%E6%B5%B7%E6%A3%A0.BD1280%E9%AB%98%E6%B8%85%E4%B8%AD%E8%8B%B1%E5%8F%8C%E5%AD%97%E7%89%88.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
