@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Lupin the 3rd vs. Detective Conan</h1>
<p>Lupin the 3rd vs. Detective Conan is a Japanese animated crossover television special between the Lupin III and Detective Conan series. It was broadcast on Yomuri TV on March 27, 2009. Discotek Media released the television film on DVD in North America on October 27, 2015</p>
<video width="640" height="360" controls>
    <source src="https://videosharing11.oss-eu-central-1.aliyuncs.com/%E9%B2%81%E9%82%A6%E4%B8%89%E4%B8%96VS%E5%90%8D%E4%BE%A6%E6%8E%A2%E6%9F%AF%E5%8D%972013.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
