@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Little Secrets 2001</h1>
<p>Emily, an aspiring violinist, spends her summer at home and keeps her neighbours' secrets for 50 cents. However, after a point, all the secrets, including her own, brings her life crashing down.</p>


<video width="640" height="360" controls>
    <source src="https://videosharing11.oss-eu-central-1.aliyuncs.com/Watch%20movie%20Little%20Secrets%202001%20on%20lookmovie%20in%201080p%20high%20definition.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
