@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Surgeons: At the Edge of Life Season 3</h1>
<p>An in-depth look at the work carried out by some of the United Kingdom's finest and most skilled surgeons. Granted behind-the-scenes access to hospitals across the country, including Queen Elizabeth Hospital Birmingham and Addenbrooke's Hospital in Cambridge, this series captures in detail the level of hard work and concentration required by those working at the forefront of the healthcare industry. Viewers get a fascinating insight into the country's operating theatres as surgeons are seen carrying out life-saving operations with innovative technology.</p>

<h1>EP 1</h1>

<div class="video-container">
    <video controls>
    <source src="https://videosharing11.oss-eu-central-1.aliyuncs.com/Surgeons/surgeons-at-the-edge-of-life-season-3-episode-1.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
</div>

<h1>EP 2</h1>

    <div class="video-container">
        <video controls>
    <source src="https://videosharing11.oss-eu-central-1.aliyuncs.com/Surgeons/surgeons-at-the-edge-of-life-season-3-episode-2.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
    </div>

<h1>EP 3</h1>

        <div class="video-container">
            <video controls>
    <source src="https://videosharing11.oss-eu-central-1.aliyuncs.com/Surgeons/surgeons-at-the-edge-of-life-season-3-episode-3.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
        </div>

        <h1>EP 4</h1>

            <div class="video-container">
                <video controls>
    <source src="https://videosharing11.oss-eu-central-1.aliyuncs.com/Surgeons/surgeons-at-the-edge-of-life-season-episode-3-a-risk-worth-taking.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
            </div>




