/* Additional style to create space between image divs */
.image-container {
    margin: 30px;
}

/* Use media query to adjust the layout for smaller screens */
@media (max-width: 768px) {
    .image-container {
        margin: 15px; /* Reduce the margin further for smaller screens */
    }
}

/* Set the max-width to make images responsive */
img {
    max-width: 100%;
}

/* Responsive video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (360 / 640 * 100) */
}

    /* Video element inside the container */
    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
